@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-RegularDEMO.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir/Avenir Regular/Avenir Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  font-family: 'Avenir', sans-serif;
  color: #01060D;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Recoleta', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.progress {
  background: linear-gradient(to right, #0CA156 0%, #0CA156 40%, #fff 40%, #fff 100%);
  border: solid 2px #0CA156;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.pswp__img {
  object-fit: contain;
}
[x-cloak] { display: none; }

.slider,.animated {
  display: flex;
  align-items: center;
}

.centered-image-border {
  border-style: solid !important;
  border-width: 15px !important;
  border-top-color: rgba(0, 0, 0, 0.8) !important; /* lighten(#000, 20%) */
  border-right-color: rgba(0, 0, 0, 1) !important; /* lighten(#000, 0%) */
  border-bottom-color: rgba(0, 0, 0, 0.8) !important; /* lighten(#000, 20%) */
  border-left-color: rgba(0, 0, 0, 1) !important; /* lighten(#000, 0%) */
}
/* Add the following styles to modal.css or equivalent */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
